.section-about {
    padding: 8rem 1rem;

    &-title {
        width: 90%;

        @include responsive(tab-vert) {
            width: 100%;
        }
    }
    
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 80% 0, 100% 100%, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 90% 0, 100% 100%, 100% 100%, 0 100%);
    }

    @include responsive(tab-vert) {
        clip-path: none;
    }
}

.section-team {
    background-image: 
    linear-gradient(
        to bottom, 
        rgba($color-white, 0.5),
        rgba($color-white, 0.8)), 
    url(../img/forest-horizon.jpg);


    background-size: cover;
    background-position: top;
    position: relative;
    padding: 8rem 0 8rem 8rem;

    
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 10% 50%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 10% 50%);
    }

    @include responsive(tab-vert) {
        padding: 8rem 0;
    }
}

.section-lessons {
    padding: 8rem 15rem 8rem 5rem;
    
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 10% 50%);
        clip-path: polygon(0 0, 100% 0, 90% 50%, 100% 100%, 0 100%);
    }

    @include responsive(tab-hori) {
        clip-path: none;
        padding: 8rem 0;
    }

    @include responsive(tab-vert) {
        clip-path: none;
        padding: 8rem 0 25rem 0;
    }
}

.section-stories {
    position: relative;
    overflow: hidden;

    @include responsive(tab-vert) {
        
    }
}